<mat-toolbar>
  <span>My Studio</span>
</mat-toolbar>
<br><br>
<form [formGroup] = "formUser" name="form" class="form">
    <mat-form-field>
        <mat-label>שם</mat-label>
        <input matInput formControlName="name" value="Tzipi">
    </mat-form-field><br><br>

    <mat-form-field>
        <mat-label>סיסמא</mat-label>
        <input matInput formControlName="password">
    </mat-form-field><br><br>

</form>
  <div class="form">
    <button matButton="elevated"(click) = "checkDetails()"  id="send">כניסה</button>
  </div>
