<!-- <p>lesson works!</p> -->
<!-- LessonName: string;
    TeacherName: string;
    AmountOfMeetings: number;
    StartDate: Date;
    Price: number;
    DayOfWeek: string;
    Time: string; -->
<div class="lesson-details">
  <h3>Lesson Name: {{ lesson.LessonName }}</h3>
  <p>Teacher Name: {{ lesson.TeacherName }}</p>
  <p>Amount of Meetings: {{ lesson.AmountOfMeetings }}</p>
  <p>Start Date: {{ lesson.StartDate }}</p>
  <p>Price: {{ lesson.Price }}</p>
  <p>Day of Week: {{ lesson.DayOfWeek }}</p>
  <p>Time: {{ lesson.Time }}</p>
</div>

